* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #003399;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header h2 {
  margin: 16px 0px;
  font-size: 12pt;
}


.sidebar {
  padding-top: 65px;
}

.sidebar-all {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 8px 16px 8px 16px;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.sidebar-room {
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
  padding: 16px;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.sidebar-room.active {
  border: 1px solid #003399;
  background-color: #ccddff;
}

.sidebar-room h3 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 8px;
}

.sidebar-room .subtitle {
  height: 20px;
}

.sidebar-room-icon {
  float: right;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  height: 54px;
}

.icon-airplay {
  width: 25px;
  background-image: url(/images/airplay.png);
  background-size: contain;
}

.icon-google-cast {
  background-image: url(/images/google-cast.svg);
  background-size: contain;
  width: 20px;
}

.room-keypad {
  margin: 8px;
}

.room-back {
  cursor: pointer;
}

.room-source {
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
}

.room-source[data-active="true"] {
  background-color: #003399;
  color: white;
}

@keyframes all-source {
    0% {
        background-color: #003399;
        color: white;
    }
    100% {
        background-color: #eeeeee;
        color: black;
    }
}

.room-keypad-all .room-source[data-active="true"] {
  animation-name: all-source;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  
  background-color: #eeeeee;
  color: black;
}

.map {
  display: none;
}

@media (min-width: 768px) {
  .map {
    display: block;
  }

  .room-back {
    padding-top: 16px;
  }

  .sidebar {
    padding-top: 30px;
  }

  .header {
    text-align: left;
  }
}
